modules = ["python-3.11"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["sh", "-c", "gunicorn --bind 0.0.0.0:8080 --timeout 120 'main:create_app()'"]
build = ["sh", "-c", "pip install -r requirements.txt"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:8080 --timeout 120 --reload 'main:create_app()'"
waitForPort = 8080

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8090
externalPort = 3000

[objectStorage]
defaultBucketID = "replit-objstore-47dd2207-cfae-4f2f-ac97-1cc7e19e73d0"
