{% extends "layout.html" %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-dark border-danger">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0">Error</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ error }}</p>
                    <a href="/" class="btn btn-outline-light">Return Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
